node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env
.env.*
*.log
*.sqlite
.DS_Store
Thumbs.db
*.swp
.idea/
*.iml
.vscode/
*.tmp
*.temp
yt-dlp.exe
*.mp3
*.mp4
temp/
ffmpeg.exe
ffplay.exe
ffprobe.exe
commands/eggs/
reminders.json